.navbar{
    background-color: var(--theme-navbar-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    //  position: sticky;

    &__container{
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0px 20px;
        flex: 1;
        position: sticky;
       


        &__logo{
            color: var(--theme-main-color);
            animation: rotation 12s linear infinite;
        }

        &__menu{
            display: flex;
            list-style: none;
            text-align: center;

            &__item{
                line-height: 40px;
                margin-right: 1.5rem;
                font-size: 1.6rem;
                
                &::after{
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    transition: all 0.5s ease;
                }
                &:hover::after{
                    width: 100%;
                    background: var(--theme-main-color);
                }

                &__links{
                    color: var(--theme-main-color);
                    text-decoration: none;
                    padding: 0.5rem;
                }
            }
        }

      
    }
}
.nav_icon{
    display: none;
}

@keyframes rotation{
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px){
    .navbar__container__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 0;
        transition: all 0.5s ease; 

        &.active{
            background: #181818;
            left: 0px;
            opacity: 1;
            z-index: 20;     
        }

        &__item{
            border-bottom: 1px solid #282828;
            margin: 0px;
            padding: 20px 0px; 
        }
    }
    .nav_icon{
        display: block;
        cursor: pointer;
        color: var(--theme-main-color);
        position: absolute;
        right: 30px;
        z-index: 2;
    }
}
@media only screen and (max-width: 468px){
    .navbar__container__menu{
        width: 100%;
    }
}