:root {
    --theme-background-color: #343a40;
    --theme-main-color: #06d6a0;
    --theme-text-color: #fff;
    --theme-navbar-color: #212529;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    background: var(--theme-background-color);
    height: 100%;
}
#root {
    height: 100%;
}
